<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    
<mapper namespace="com.ph4.s1.cart.CartDAO">

<select id="getCartList" resultType="cartDTO" parameterType="Pager">
     select * from
    (select rownum R, N.* from 
    (select * from board order by num desc N)
    where R between #{startRow} and #{lastRow}
   </select>

</mapper>
